In [ ]:
!pip install lightgbm pandas scikit-learn --quiet

import pandas as pd
import numpy as np
import lightgbm as lgb
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from tqdm import tqdm

# ① ダミーデータ作成（実務ではCSVなどから読み込み）
n_stores = 10000
n_months = 24
data = []

for store_id in range(n_stores):
    region = np.random.choice(['East', 'West', 'North', 'South'])
    industry = np.random.choice(['FastFood', 'Steak', 'Cafe'])
    for month in range(n_months):
        sales = 100 + store_id * 0.01 + month * 1.2 + np.random.normal(0, 10)
        data.append({
            "store_id": store_id,
            "month_idx": month,
            "sales": sales,
            "region": region,
            "industry": industry
        })

df = pd.DataFrame(data)

# ② ラベルエンコード
for col in ['region', 'industry']:
    df[col] = LabelEncoder().fit_transform(df[col])

# ③ ラグ特徴量作成（1ヶ月〜3ヶ月前）
df = df.sort_values(['store_id', 'month_idx'])
for lag in [1, 2, 3]:
    df[f'sales_lag_{lag}'] = df.groupby('store_id')['sales'].shift(lag)

# ④ train/testデータ作成（train: month_idx 3〜23, test: 24〜35）
train = df[df['month_idx'] >= 3]
test_data = []

for offset in range(12):  # 予測月: 24〜35
    month_idx = 24 + offset
    latest = df[df['month_idx'] == (month_idx - 1)][['store_id', 'sales']].rename(columns={'sales': 'sales_lag_1'})
    latest2 = df[df['month_idx'] == (month_idx - 2)][['store_id', 'sales']].rename(columns={'sales': 'sales_lag_2'})
    latest3 = df[df['month_idx'] == (month_idx - 3)][['store_id', 'sales']].rename(columns={'sales': 'sales_lag_3'})

    base = df[df['month_idx'] == 23][['store_id', 'region', 'industry']].copy()
    base['month_idx'] = month_idx

    base = base.merge(latest, on='store_id', how='left')
    base = base.merge(latest2, on='store_id', how='left')
    base = base.merge(latest3, on='store_id', how='left')

    test_data.append(base)

test = pd.concat(test_data, ignore_index=True)

# ⑤ モデル学習
features = ['region', 'industry', 'month_idx', 'sales_lag_1', 'sales_lag_2', 'sales_lag_3']
X_train = train.dropna()[features]
y_train = train.dropna()['sales']

model = lgb.LGBMRegressor(n_estimators=100, learning_rate=0.1)
model.fit(X_train, y_train)

# ⑥ 予測
X_test = test[features]
test['predicted_sales'] = model.predict(X_test)

# ⑦ 店舗ごとの予測結果表示（先頭5店舗 × 12ヶ月）
test_result = test[test['store_id'] < 5].sort_values(['store_id', 'month_idx'])
display(test_result[['store_id', 'month_idx', 'predicted_sales']])

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.006265 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 794
[LightGBM] [Info] Number of data points in the train set: 210000, number of used features: 6
[LightGBM] [Info] Start training from score 165.562496

        store_id  month_idx  predicted_sales
0              0         24       133.166594
10000          0         25       128.910966
20000          0         26       123.733320
30000          0         27       123.563468
40000          0         28       123.563468
50000          0         29       123.563468
60000          0         30       123.563468
70000          0         31       123.563468
80000          0         32       123.563468
90000          0         33       123.563468
100000         0         34       123.563468
110000         0         35       123.563468
1              1         24       138.877572
10001          1         25       129.104492
20001          1         26       124.416280
30001          1         27       124.033741
40001          1         28       124.033741
50001          1         29       124.033741
60001          1         30       124.033741
70001          1         31       124.033741
80001          1         32       124.033741
90001          1         33       124.033741
100001         1         34       124.033741
110001         1         35       124.033741
2              2         24       133.357301
10002          2         25       126.501780
20002          2         26       124.280591
30002          2         27       123.917010
40002          2         28       123.917010
50002          2         29       123.917010
60002          2         30       123.917010
70002          2         31       123.917010
80002          2         32       123.917010
90002          2         33       123.917010
100002         2         34       123.917010
110002         2         35       123.917010
3              3         24       133.077915
10003          3         25       126.461724
20003          3         26       126.988670
30003          3         27       124.227057
40003          3         28       124.227057
50003          3         29       124.227057
60003          3         30       124.227057
70003          3         31       124.227057
80003          3         32       124.227057
90003          3         33       124.227057
100003         3         34       124.227057
110003         3         35       124.227057
4              4         24       130.059310
10004          4         25       128.615690
20004          4         26       124.886052
30004          4         27       123.734355
40004          4         28       123.734355
50004          4         29       123.734355
60004          4         30       123.734355
70004          4         31       123.734355
80004          4         32       123.734355
90004          4         33       123.734355
100004         4         34       123.734355
110004         4         35       123.734355